APP_ENV=dev
APP_SECRET=4ad1....

DATABASE_URL=mysql://username:password@dbUrl/db

DEFAULT_URI=http://localhost:8000

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

ROOT_USER_USERNAME=username
ROOT_USER_PASSWORD=password

MAILER_SENDER=test@test.email

MAILER_DSN=null://localhost
